:root {
  --main-bg-colour: #368;
  --primary-colour: #93eec9;
  --secondary-colour: #5cf;
}

body {
  font-size: 2rem;
  color: white;
}

a.link {
  color: var(--primary-colour);
}

a.link:hover {
  color: var(--secondary-colour);
}

.bigAssMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  font-size: 2rem;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;

  /* Alternative method of making the message cover the full page,
     for browsers that don't support vw and vh */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  animation-duration: 200ms;
  animation-name: migraine;
  animation-iteration-count: infinite;
}

@media(min-width: 200px) {
  .bigAssMessage {
    font-size: 3rem;
  }
}

@media(min-width: 400px) {
  .bigAssMessage {
    font-size: 5rem;
  }
}

@media(min-width: 600px) {
  .bigAssMessage {
    font-size: 7rem;
  }
}

@media(min-width: 900px) {
  .bigAssMessage {
    font-size: 10rem;
  }
}

@media(min-width: 1400px) {
  .bigAssMessage {
    font-size: 13rem;
  }
}

@media(min-width: 3000px) {
  .bigAssMessage {
    font-size: 16rem;
  }
}

@keyframes migraine {
  from {
    background-color: blue;
    color: white;
  }

  33% {
    background-color: yellow;
    color: black;
  }

  66% {
    background-color: green;
    color: black;
  }

  to {
    background-color: red;
    color: white;
  }
}

.setMessageForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: var(--main-bg-colour);
  text-align: center;
}

.setMessageForm__messageLabel {
  /* Only visible to screen readers */
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.setMessageForm__messageInput {
  box-sizing: border-box;
  max-width: 95%;
  min-width: 50vw;
  margin: 1rem;
  padding: 1rem;
  text-transform: uppercase;
}

.setMessageForm__messageInput:focus {
  border-style: solid;
  border-color: var(--primary-colour);
}

.setMessageForm__messageInput::placeholder {
  text-align: center;
  text-transform: none;
}

.setMessageForm__showButton {
  display: block;
  box-sizing: border-box;
  max-width: 95%;
  margin: 1rem;
  padding: 1rem;
  border-color: transparent;
  background: var(--primary-colour);
  color: #182f3f;
  text-decoration: none;
}

.setMessageForm__showButton:hover,
.setMessageForm__showButton:focus {
  background: var(--secondary-colour);
}

.setMessageForm__warning {
  display: block;
  font-size: 1rem;
  color: #eee;
}

.setMessageForm__shareButton {
  display: inline-block;
  width: 1rem;
  padding: 1rem;
}

.socialIcon {
  fill: white;
}

.socialIcon:hover,
.setMessageForm__shareButton:hover .socialIcon,
.setMessageForm__shareButton:focus .socialIcon {
  fill: var(--primary-colour);
}

.attribution {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1rem;
  font-size: 0.9rem;
  font-style: normal;
}

@media (max-width: 450px) and (max-height: 330px) {
  .attribution {
    display: none;
  }
}
